@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@theme{
    --breakpoint-xs: 300px;
    --breakpoint-md: 860px;
    --font-brand : 'Radley', sans-serif;
    --font-body : 'Roboto', sans-serif;
    --font-heading : 'Roboto Flex', sans-serif;
}